html {
    font-size: min(max(1rem, 4vw), 22px);
  }

body {
    font-family: 'Crimson Text', serif;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-right: 3%;
}

main {
    display: grid;
    grid-template-columns: 20px [heading-start] auto [heading-end item-start] auto [item-end date-start] auto [date-end] 20px;
    grid-template-rows: auto auto [experience-one-start] auto [experience-one-end] auto auto auto auto;
    gap: 1em;

    margin-left: 5%;
    margin-right: 5%;
}

header {
    margin-bottom: 1em;
}

header h1 {
    font-size: 3em;
    margin-bottom: 0;
    margin-top: 1%;
}

p {
    margin-bottom: 0%;
}

.links {
    text-align: right;
}

.inline {
    display: inline;
}

/* Grid content */

.heading {
    grid-column: heading-start/heading-end;

    font-weight: bold;

    font-size: 1em;
}

.heading,
.date {
    text-align: right;
}

.entry,
.title,
.date {
    margin: 0;
}

.entry,
.title {
    grid-column: item-start/item-end;
}

.date {
    grid-column: date-start/date-end;
}

/* --------Individual item positioning-------- */

.summary {
    grid-row: 1/2;
}

.skills {
    grid-row: 2/3;
}

/* Experience */

.experience {
    grid-row: [experience-one-start] / [experience-one-end];
}

.strategic {
    --rowstart: 3;
    --rowend: 4;

    grid-row: var(--rowstart)/var(--rowend);
}

.strategic.entry {
    grid-row: calc(var(--rowstart) + 1)/calc(var(--rowstart) + 2);
}

.bytez {
    --rowstart: 5;
    --rowend: 6;

    grid-row: var(--rowstart)/var(--rowend);
}

.bytez.entry {
    grid-row: calc(var(--rowstart) + 1)/calc(var(--rowstart) + 2);
}

.indie {
    --rowstart: 7;
    --rowend: 8;

    grid-row: var(--rowstart)/var(--rowend);
}

.indie.entry {
    grid-row: calc(var(--rowstart) + 1)/calc(var(--rowstart) + 2);
}

.glass {
    --rowstart: 9;
    --rowend: 10;

    grid-row: var(--rowstart)/var(--rowend);
}

.glass.entry {
    grid-row: calc(var(--rowstart) + 1)/calc(var(--rowstart) + 2);
}

.lodge {
    --rowstart: 11;
    --rowend: 12;

    grid-row: var(--rowstart)/var(--rowend);
}

.lodge.entry {
    grid-row: calc(var(--rowstart) + 1)/calc(var(--rowstart) + 2);
}

.qualifications {
    grid-row: 13/14;
}

.garage {
    --rowstart: 13;
    --rowend: 14;

    grid-row: var(--rowstart)/var(--rowend);
}

.garage.entry {
    grid-row: calc(var(--rowstart) + 1)/calc(var(--rowstart) + 2);
}

.education {
    grid-row: 15/16;
}

.university {
    --rowstart: 15;
    --rowend: 16;

    grid-row: var(--rowstart)/var(--rowend);
}

.university.entry {
    grid-row: calc(var(--rowstart) + 1)/calc(var(--rowstart) + 2);
}