main {
    display: grid;
    grid-template-columns: 20px auto auto auto 20px;
    grid-template-rows: auto auto auto auto;
}

.summary {
    grid-column: 2/3;
    grid-row: 1/2;
}

.summary-entry {
    grid-column: 3/4;
    grid-row: 1/2;
}

.skills {
    grid-column: 2/3;
    grid-row: 2/3;
}

.entry-skills {
    grid-column: 3/4;
    grid-row: 2/3;
}